.jumbotron {
  text-align: center;
  font-family: "Raleway", sans-serif;
  background: url("../images/train-image.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 300px;
  width: 1000px;
  margin: auto;
  border-radius: 25px;
}

.table {
  font-family: "Raleway", sans-serif;
}
